
version: '3.7'

volumes:
  one_k:
    external: true

services:

  saver_client:
    build:
      context: test_client
    user: nobody:nogroup
    image: cyberdojo/saver-client
    container_name: test-saver-client
    init: true
    read_only: true
    tmpfs: /tmp
    restart: 'no'
    depends_on:
      - saver
      - languages # for tests
      - exercises # for tests
    ports: [ "4538:4538" ]

  # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  saver:
    build:
      context: .
      args: [ COMMIT_SHA ]
    user: saver
    image: cyberdojo/saver
    container_name: test-saver-server
    init: true
    environment: [ NO_PROMETHEUS ]
    ports: [ "4537:4537" ]
    read_only: true
    restart: 'no'
    volumes:
      - ./test_server:/app/test:ro
      - one_k:/one_k
    tmpfs:
      - /cyber-dojo:uid=19663,gid=65533
      - /tmp:uid=19663,gid=65533
    depends_on:
      - languages # for tests
      - exercises # for tests

  # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  languages:
    user: root
    image: cyberdojo/languages-start-points
    container_name: test-saver-languages
    init: true
    environment: [ NO_PROMETHEUS ]
    ports: [ "4524:4524" ]
    read_only: true
    tmpfs: /tmp
    restart: 'no'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  exercises:
    user: root
    image: cyberdojo/exercises-start-points
    container_name: test-saver-exercises
    init: true
    environment: [ NO_PROMETHEUS ]
    ports: [ "4525:4525" ]
    read_only: true
    tmpfs: /tmp
    restart: 'no'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
