
volumes:
  one_k:
    external: true

services:

  client:
    depends_on: [ server ]
    build:
      context: source/client
      args:
        - COMMIT_SHA
    image: ${CYBER_DOJO_SAVER_CLIENT_IMAGE}:${CYBER_DOJO_SAVER_TAG}
    user: ${CYBER_DOJO_SAVER_CLIENT_USER}
    container_name: ${CYBER_DOJO_SAVER_CLIENT_CONTAINER_NAME}
    env_file: [ .env ]
    read_only: true
    restart: no
    tmpfs: /tmp
    volumes:
      - ./source/client:/saver/source:ro
      - ./test/client:/saver/test:ro

  server:
    build:
      context: .
      args:
        - COMMIT_SHA
    image: ${CYBER_DOJO_SAVER_IMAGE}:${CYBER_DOJO_SAVER_TAG}
    user: ${CYBER_DOJO_SAVER_SERVER_USER}
    container_name: ${CYBER_DOJO_SAVER_SERVER_CONTAINER_NAME}
    env_file: [ .env ]
    read_only: true
    restart: no
    volumes:
      - ./source/server:/saver/source:ro
      - ./test/server:/saver/test:ro
      - one_k:/one_k:rw
    tmpfs:
      - /cyber-dojo:uid=19663,gid=65533
      - /tmp

